---
---
// Custom sass vars go here

$frame-pink: #fce9ed;
$frame-red: #fe0000;
$frame-gradient: linear-gradient(180deg,#fce9ed 0,#fb505d);

// Headers
$header-heading-color: $frame-red;

// Text
$section-headings-color: $frame-red;
$body-text-color: #606c71;
$body-link-color: $frame-red;
$blockquote-text-color: #819198;

// Code
//$code-bg-color: #f3f6fa !default;
//$code-text-color: #567482 !default;

// Borders
//$border-color: #dce6f0 !default;
//$table-border-color: #e9ebec !default;
//$hr-border-color: #eff0f1 !default;


@font-face {
font-family:"value-bold";
src:url("https://two.frame.hosting/value-bold-web.woff") format("woff");
}

@font-face {
font-family:"ano-bold-regular";
src:url("https://two.frame.hosting/ano-bold-regular.woff") format("woff");
}

@import "{{ site.theme }}";


// Custom style overrides go here

h1,
.project-name {
    font-family: 'value-bold', serif;
}

h2,h3,h4 {
    font-family: 'ano-bold-regular', sans-serif;
}

.btn {
    background-color: transparentize( $frame-red, 0.2 );
    color: transparentize( #fff, 0.2);

    &:hover {
        background-color: transparentize( #fff, 0.2);
        color: transparentize( $frame-red, 0.2 );
    }
}

.page-header {
    background-color: $frame-pink;
    background-image: none;
}